<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="Atras"></ion-back-button>
      </ion-buttons>
    <ion-title>Estacionamientos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-content color="white">
    <ion-grid fixed>
      <ion-row>
        <ion-col >
          <ion-button   expand="block" shape="round" color="secondary"><label>DUOC PLAZA NORTE</label></ion-button>
        </ion-col>
        <ion-col >
          <ion-button   expand="block"  color="primary"><label>SIN CUPO</label></ion-button>
        </ion-col>
        <ion-col >
          <ion-button   expand="block" shape="round" color="secondary"><label>MALL HUECHURABA</label></ion-button>
        </ion-col>
        <ion-col >
          <ion-button   expand="block"  color="primary"><label>PARCIALMENTE LLENO</label></ion-button>
        </ion-col>
        <ion-col >
          <ion-button   expand="block" shape="round" color="secondary"><label>SANTA ISABEL INDEPENDENCIA</label></ion-button>
        </ion-col>
        <ion-col >
          <ion-button   expand="block"  color="primary"><label>GRAN DISPONIBILIDAD</label></ion-button>
        </ion-col>  
        </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>